/*
Couleurs: 
    #9356DC violet
    #FF79DA rose
    #99E2D0 vert
*/

// tous les imports
@import "./../libs/reset.scss";
@import "./footer.scss";

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: spinner 2.5s linear;
    visibility: hidden;

    .ring{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        animation: ring 1s linear infinite;
    }

    .text-loader{
        font-family: 'Shrikhand', cursive;
        color: #959595;
        font-size: 36px;
        line-height: 500px;
        animation: text 1s ease-in-out infinite;
    }
}

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 2px 5px 2px #9356DC;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 2px 5px 2px #99E2D0;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 2px 5px 2px #FF79DA;
    }
}
  
@keyframes text {
    50%{
        color: black;
    }
}


h1{
    font-family: 'Shrikhand', cursive;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.1em;
}

/* Header */
header{
    text-align: center;
    padding: 1.6em 0 0.7em;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}

/* section explorer */

.explorer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        height: 3.1em;
        width: 100%;
        background-color: rgb(232, 232, 232);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.6em;

        input{
            height: 100%;
            border: 0px;
            background-color: rgb(232, 232, 232);

            &::placeholder{
                font-size: 1.2em;
                text-align: center;
                color: #000;
                font-weight: bold;
            }
        }
    }
    .main-wrapper{
        padding: 3.1em 1.9em;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.3em;
        text-align: center;
        width: 100%;

        h2{
            width: 80%;
        }
        
        button{
            background: rgb(255,121,218);
            background: linear-gradient(155deg, rgba(255,121,218,1) 0%, 
            rgba(147,86,220,1) 100%);
            border-radius: 50px;
            color: white;
            font-size: 105%;
            padding: 1em 1.3em;
            border: 0px;
            box-shadow: 5px 5px 25px -10px rgba(0,0,0,1);
            &:hover{
                cursor: pointer;
                opacity: 0.8;
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
                transition: 0.3s;
            }
        }
    }
}

/* Section functioning */

.functioning{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
    padding: 3.1em 1.3em;

    ol{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 2em;
        list-style: none;
    }
    ol li{
        position: relative;
        background-color: #f2f2f2;
        border-radius: 20px;
        padding: 1.5em;
        margin-left: 0.7em;
        box-shadow: 5px 5px 15px 5px rgb(215, 215, 215);

        span{
            position: absolute;
            top: 50%;
            left: 0;
            height: 2em;
            width: 2em;
            padding: 0.5em;
            transform: translate(-50%,-50%);
            text-align: center;
            color: white;
            font-size: 80%;
            border-radius: 50px;
            background-color:#9356DC;
        }
        p{
            display: inline-block;
            margin-left: 1.3em;
            font-weight: bold;
        }
        i{
            color: grey;
            margin-left: 0.7em;
            font-size: 1.3em;
        }
        &:hover{
            background-color:#9256dc17;
        }
        &:hover i{
            color: #9356DC;
        }

    }
}

/* section restaurants*/
.restaurants{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 3.1em 1.3em;
    gap: 1.6em;
}
.restaurants-list-cards{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
}

.restaurants-article{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgb(215, 215, 215);
    background-color: #fff;

    &:hover{
        opacity: 0.9;
    }

    .new{
        position: absolute;
        top: 0.6em;
        right: 0.6em;
        font-weight: bold;
        background-color: #99E2D0;
        color: rgb(0, 144, 0);
        padding: 0.3em 0.6em;
        border-radius: 3px;
    }

    img{
        width: 100%;
        height: 185px;
        object-fit: cover;
        object-position: 50% 62%;
        border-radius: 15px 15px 0 0;
    }
}

.restaurant-description{
    position: relative;
    padding: 1.3em 1em;

    h3{
        margin-bottom: 0.3em;
    }
}
.heart-position{
    position: absolute;
    bottom: 2em;
    right: 3em;

    .heart {
        position: relative;
        height: 1.8em;
        
      }
      
      .heart-1 {
        color: black;
        position: absolute;
        bottom: 0;
        font-size: 1.8em;
      }
      
      .heart-2-span {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
      
      .heart-2 {
        position: relative;
        transform: scale(0%);
        transition: transform 0.1s ease-in;
        background: rgb(255,121,218);
        background: linear-gradient(32deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.8em;
      }
     
      .heart:hover .heart-2 {
        transform: scale(100%);
      }
}
@media only screen and (min-width: 992px) {
    .functioning{
        width: 100%;
        margin: 0 auto;
        ol{
            justify-content: space-between;
            flex-direction: row;

            li{
                width: 100%;
            }
        }
    }
    .restaurants-list-cards{
        flex-direction: row;

        .restaurants-article{
            width: 25%;
        }
    }
}





